# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Cache
.pytest_cache/
.cache/

# Data logs & runtime contexts
data/browser_context/
Python-Task1-VoiceAssistant/data/browser_context/
Python-Task1-VoiceAssistant/data/screenshots/
*.db
action_log.jsonl
.env
*.key
data/vault.key

# Virtual Environments
venv/
.venv/
env/

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
